.profile-info {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 세로 방향 정렬을 위해 start 사용 */
  flex-direction: row;
  gap: 20px; /* 요소 사이 간격 */
}
.profile-section {
  text-align: center; /* 제목 중앙 정렬 */
  margin-bottom: 40px;
}

.profile-title {
  margin-bottom: 20px; /* 제목과 프로필 정보 사이의 간격 */
}
.user-header {
  margin-left: 30px;
}
.default-profile-pic, .profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px; /* 오른쪽 여백 추가 */
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* 왼쪽 정렬 */
}
.user-info p {
  margin: 5px 0;
}

.file-input-container {
  margin-top: 20px;
}

.edit-button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #0056b3;
}


.default-profile-pic, .profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* 동그라미 모양으로 만듭니다 */
  object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너에 맞춤 */
}

.default-profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  font-size: 4rem; /* 아이콘 크기를 적절하게 조절 */
  color: #fff;
}